.container {
  height: calc(100vh - 2rem);
  display: flex;
  justify-content: space-around;
}

.form {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.state {
  width: 400px;
  background-color: #efefef;
  padding: 8px;
  overflow: auto;
}